/* Importar fuente Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #111113;
    font-family: 'Inter', sans-serif;
}

.navbar-nav .nav-link {
    color: #ACB5BB;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    word-wrap: break-word;
}

.feature-description {
    color: #ACB5BB;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
}

.hero {
    padding: 100px 0;

}

.cta {
    padding: 60px 0;
    background: linear-gradient(135deg, #4a00e0, #8e2de2);
}

.footer {
    background-color: #111113;
}

h1{
color: white;
font-size: 48px;
font-family: Inter;
font-weight: 500;
line-height: 60px;
word-wrap: break-word
}

h2{
color: white;
font-size: 32px;
font-family: Inter;
font-weight: 500;
line-height: 48px;
word-wrap: break-word
}

p {
color: #ACB5BB;
font-size: 16px;
font-family: Inter;
font-weight: 500;
line-height: 24px;
word-wrap: break-word;
letter-spacing: -0.32px;
}

.attention {
    color: #74797d;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    letter-spacing: -0.32px;
}

a{
    color: #b8c0c6;
    text-decoration: none;
}

.link{
    color: #ffffff;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    letter-spacing: -0.32px;
}
.privacy{
    color: #ffffff;
    font-style: italic;
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    letter-spacing: -0.32px;
}

.copyingLogo{
    height: 50px;
    width: 50px;
}

.features{
color: white;
font-size: 12px;
font-family: Inter;
font-weight: 500;
word-wrap: break-word
}



#leaderboard, #faq {
    margin-top: 180px; /* Ajusta según sea necesario */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #161618;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #9945FF 0%, #0BCB7B 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 255, 204, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #7C3AED 0%, #0BCB7B 100%);
}

.sectionimg{

margin-top: 30px;

}

.swiper-slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.swiper-slide-active {
    opacity: 1;
}
/* Evitar scroll horizontal */
.swiper-container {
    overflow: hidden; /* Esconde cualquier contenido fuera del contenedor */
    width: 100%;
    max-width: 100%;
}